.reviews-area-container {
  width: 616px;
  float: left;
}

#reviews-summary {
  display: block;
  width: 940px;
}

.review-card-cont {
  width: 184px;
  float: left;
  padding: 8px;
  opacity: 0.6;
}

#review-subTitle {
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  padding-right: 10px;
}
.hr {
  background-image: linear-gradient(to right, #3a6e8b, #1b2838);
  height: 1px;
  margin-bottom: 2px;
  width: 616px;
}

#review-subTitle2 {
  text-transform: uppercase;
  font-size: 14px;
  color: #56707f;
}

.Icon {
  float: left;
  padding-right: 8px;
  display: block;
}

.reviews-area {
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 26px;
  background-image: url(/public/images/v6/maincol_gradient_rule.png);
  background-repeat: no-repeat;
  background-position: top left;
  display: grid;
  grid-template-columns: max-content;
}

#user-info-username {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 140px;
  overflow: hidden;
  margin-top: -2px;
  margin-bottom: -1px;
  display: inline-block;
  color: #c1dbf4;
  font-size: 13px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: bold;
}

/* #user-info-cont {
  position: relative;
  width: 184px;
  float: left;
  padding: 8px;
  opacity: 0.6;
} */

#user-info-product {
  font-size: 11px;
  color: #626366;
  display: block;
  line-height: 17px;
}

#user-info-viewReviews {
  font-size: 11px;
  color: #626366;
  display: block;
}

.right-column {
  float: left;
  width: 400px;
  position: relative;
  margin-left: 14px;
}

#response-dev {
  color: #529cde;
  font-size: 13px;
}

#recommendations-container {
  margin: 8px 0 13px;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  height: 40px;
  float: right;
}

#reaction-icon-cont {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
  margin: 0 2px;
  cursor: pointer;
}

#reaction-icons {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

#response-container {
  padding-bottom: 10px;
  margin-top: -23px;
  margin-bottom: 26px;
  padding-top: 10px;
}

#view-response {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
}

#thumb-pic {
  float: left;
  margin-right: 10px;
}

#user-info-username {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 140px;
  overflow: hidden;
  margin-top: -2px;
  margin-bottom: -1px;
  display: inline-block;
  color: #c1dbf4;
  font-size: 13px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: bold;
}

/* #comp-container {
  float: left;
  width: 400px;
  position: relative;
} */

.vote-info {
  padding: 0px 9px 8px 0px;
  font-size: 12px;
  color: #647580;
  min-height: 16px;
}

.Funny {
  background-position: -208px -16px;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.Yes {
  background-position: -112px -16px;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.No {
  background-position: -64px -16px;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.TopLeftMargin {
  color: red;
  margin-right: 75%;
  top: 0px;
  left: 0px;
}
