body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}

.dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.menuTabs {
  border: 3px solid pink;
  display: flex;
  justify-content: space-between;
}

.dropdown-item {
  position: relative;
  display: inline-block;
  padding: 8px;
}

.dropdown-item a {
  text-decoration: none;
  color: #333;
}

.submenu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
}

.menu-items:hover .dropdown {
  display: block;
}
