.dropdown-header {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  z-index: 1;
}

.dropdown-item-header {
  position: relative;
  display: inline-block;
  padding: 8px;
  z-index: 1;
}

.footer-content {
  display: flex;
  justify-content: center;
}

.menus {
  position: absolute;
  left: 200px;
  display: flex;
  border: 3px solid yellow;
}

.float-a-tag {
  position: relative;
  right: 400px;
}

.individual-title {
  border: 3px solid red;
  font-size: large;
}

.header-area {
  background: #171d25;
  background-position: center top;
  min-width: 940px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  display: block;
}

.header-content {
  background: #171d25;
  position: relative;
  width: 940px;
  height: 104px;
  margin: 0px auto;
  z-index: 402;
  display: block;
}

.logo {
  float: left;
  padding-top: 30px;
  margin-right: 40px;
  width: 176px;
  height: 44px;
}

.nav-area {
  justify-content: center;
  background: #171d25;
  min-width: 940px;
  height: 104px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  z-index: 402;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  left: 200px;
}

.global-action {
  display: flex;
}

.dropdown-header {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.dropdown-item-header {
  position: relative;
  display: inline-block;
  padding: 8px;
  border: 3px solid greenyellow;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
}

.footer-content {
  display: flex;
  justify-content: center;
}

.header {
  background: #171d25;
  background-position: center top;
  min-width: 940px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100%;
  display: flex;
}

.carousel-games {
  display: flex;
  flex-direction: row;
  height: 500px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 162px;
}

.carousel-games::-webkit-scrollbar {
  width: 10px;
}

.carousel-games::-webkit-scrollbar-track {
  /* background-color: #0e1c29; */
  visibility: visible;
}

.carousel-games::-webkit-scrollbar-thumb {
  /* background-color: #070e14;
  border-radius: 2px; */
  visibility: visible;
}

/* .carousel-games::-webkit-scrollbar-button {
  width: 38px;
  height: 18px;
  background-color: #070e14;
} */

/* .other-game */
.has_tooltip {
  display: inline;
  height: 150px;
  margin: 1px;
}

.display_game {
  padding: 15px;
  background-color: #16202d;
  height: 132px;
  width: 203px;
}

.tooltip_wrapper {
  visibility: hidden;
  background-color: #d5d7da;
  display: flex;
  flex-direction: column;
  color: #363a43;
  text-align: left;
  border-radius: 6px;
  padding: 15px;

  position: absolute;
  z-index: 1;
  /* top: 95%;
  left: 100%; */
  /* transform: translate(0, -50%); */
  /* margin-left: 5px; */
}

.other-game:hover {
  cursor: pointer;
}

.other-game:hover .tooltip_wrapper {
  visibility: visible;
}

.tooltip_right::after {
  content: " ";
  position: absolute;
  top: 12%;
  left: -10px;
  /* margin-top: -5px; */
  border-width: 5px;
  border-style: solid;
  border-color: transparent #d5d7da transparent transparent;
  display: flex;
  flex-direction: column;
}

.specific-to-game {
  display: flex;
}

.tags {
  display: flex;
  flex-direction: row;
}

.other-games-images {
  width: 250px;
  aspect-ratio: initial;
  display: flex;
  flex-direction: row;
}

.carousel-images {
  height: 250px;
  aspect-ratio: initial;
  display: flex;
  flex-direction: row;
}

.display_title {
  color: #8f98a0;
  font-size: 13px;
  margin-top: 5px;
}

.display_price {
  color: #fff;
  font-size: 11px;
  padding: 0px 6px;
  margin-top: 5px;
}

.see_all {
  font-size: 11px;
  padding: 2px 4px;
  cursor: pointer;
  height: 16px;
  float: top right;
  background-color: #2a475e;
}
