.dropdown-header {
  list-style: none;
  padding: 0;
  display: none;
  /* z-index: 1; */
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 177px;
  width: 124.76px;
  justify-content: center;
  background: #3d4450;
  color: #dcdedf;
  margin: 0;
  box-shadow: 3px 3px 5px -3px #000;
  text-align: left;
  z-index: 500;
}

.dropdown-header {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.dropdown-item-header a {
  position: relative;
  display: inline-block;
  padding: 8px;
  z-index: 1;
  height: 29px;
  width: 124.76px;
  color: #dcdedf;
  justify-content: center;
  font-size: 12px;
}

.dropdown-item-header:hover,
.dropdown-item-header:hover a {
  color: #3d4450;
  background-color: #dcdedf;
}

.menu-items-header:hover .dropdown-header {
  display: block;
}

.logo-small {
  position: relative;
  left: 50px;
}

.footer-text {
  padding-left: 10px;
}

.footer {
  padding-top: 10px;
}

.footer-content {
  display: flex;
  position: absolute;
  right: 264px;
  top: 133px;
  border-bottom: 1px solid #363c44;
  padding-top: 10px;
  padding-bottom: 36px;
  border-top: 1px solid #363c44;
  width: 940px;
  align-content: center;
}

.logo-footer-css {
  position: relative;
  top: 3px;
  right: 3px;
}

.valve-links {
  position: absolute;
  right: 560px;
  top: 230px;
}

.menus {
  position: absolute;
  left: -2px;
  top: 18px;
  display: flex;
  padding-top: 25px;
  height: 72.5px;
  width: 334.95px;
}

.float-a-tag {
  position: relative;
  right: 400px;
}

.first-link {
  font-size: 16px;
  color: #1a9fff;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.normal-link {
  font-size: 16px;
  color: #dbe2e6;
  font-weight: 500;
  text-transform: uppercase;
}

.header-area {
  background: #171d25;
  background-position: center top;
  min-width: 940px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  display: block;
}

.header-content {
  background: #171d25;
  position: relative;
  width: 940px;
  height: 104px;
  margin: 0px auto;
  z-index: 402;
  display: block;
}

.logo {
  float: left;
  padding-top: 0px;
  margin-right: 193px;
  width: 176px;
  height: 100%;
  position: absolute;
  right: -92px;
}

.nav-area {
  justify-content: center;
  background: #171d25;
  min-width: 940px;
  height: 104px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  z-index: 402;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  left: 200px;
}

.global-action {
  display: flex;
  flex-direction: row;
  height: 24px;
  width: 239.82px;
  top: 5px;
  line-height: 24px;
  position: absolute;
  right: 207px;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
}

.header {
  background: #171d25;
  background-position: center top;
  min-width: 940px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100%;
  display: flex;
}

.carousel-games {
  display: flex;
  flex-direction: row;
  height: 500px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 162px;
}

.carousel-games::-webkit-scrollbar {
  width: 10px;
}

.carousel-games::-webkit-scrollbar-track {
  /* background-color: #0e1c29; */
  visibility: visible;
}

.carousel-games::-webkit-scrollbar-thumb {
  /* background-color: #070e14;
  border-radius: 2px; */
  visibility: visible;
}

/* .carousel-games::-webkit-scrollbar-button {
  width: 38px;
  height: 18px;
  background-color: #070e14;
} */

/* .other-game */
.has_tooltip {
  display: inline;
  height: 150px;
  margin: 1px;
}

.display_game {
  padding: 15px;
  background-color: #16202d;
  height: 132px;
  width: 203px;
}

.tooltip_wrapper {
  visibility: hidden;
  background-color: #d5d7da;
  display: flex;
  flex-direction: column;
  color: #363a43;
  text-align: left;
  border-radius: 6px;
  padding: 15px;

  position: absolute;
  z-index: 1;
  /* top: 95%;
  left: 100%; */
  /* transform: translate(0, -50%); */
  /* margin-left: 5px; */
}

.other-game:hover {
  cursor: pointer;
}

.other-game:hover .tooltip_wrapper {
  visibility: visible;
}

.tooltip_right::after {
  content: " ";
  position: absolute;
  top: 12%;
  left: -10px;
  /* margin-top: -5px; */
  border-width: 5px;
  border-style: solid;
  border-color: transparent #d5d7da transparent transparent;
  display: flex;
  flex-direction: column;
}

.specific-to-game {
  display: flex;
}

.tags {
  display: flex;
  flex-direction: row;
}

.other-games-images {
  width: 250px;
  aspect-ratio: initial;
  display: flex;
  flex-direction: row;
}

.carousel-images {
  height: 250px;
  aspect-ratio: initial;
  display: flex;
  flex-direction: row;
}

.display_title {
  color: #8f98a0;
  font-size: 13px;
  margin-top: 5px;
}

.display_price {
  color: #fff;
  font-size: 11px;
  padding: 0px 6px;
  margin-top: 5px;
}

.see_all {
  font-size: 11px;
  padding: 2px 4px;
  cursor: pointer;
  height: 16px;
  float: top right;
  background-color: #2a475e;
}

.login,
.language-toggle {
  color: #b8b6b4;
  font-size: 11px;
  margin: auto;
}

.languages {
  z-index: 200;
  position: absolute;
  box-shadow: 0 0 12px #000000;
  background: #3d4450;
  height: 772.5px;
  width: 305.8px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-top: 10px;
  left: -70px;
  bottom: -770px;
}

.language-items a {
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  color: #b8b6b4;
  text-transform: none;
  font-family: "Motiva Sans", Arial, Helvectica, Verdana, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  text-align: left;
  cursor: pointer;
  height: 24px;
  width: 305.8px;
}

.login:hover {
  color: white;
}

.language-items:hover {
  background-color: #dcdedf;
}
.language-items:hover a {
  color: #3d4450;
}

.install-steam {
  color: #e5e4dc;
  font-weight: normal;
  font-size: 11px;
  background-color: #5c7e10;
  height: 24px;
  width: 109px;
  display: flex;
  flex-direction: row;
  display: inline-block;
  padding-left: 35px;
  padding-right: 9px;
  background-image: url(https://store.cloudflare.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1);
  background-repeat: no-repeat;
  background-position: 10px 5px;
}

.install-steam:hover {
  color: white;
}

.language-toggle {
  padding-left: 5px;
  padding-right: 18px;
  background-image: url(https://store.cloudflare.steamstatic.com/public/shared/images/popups/btn_arrow_down_padded.png);
  background-position: right center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.language-toggle:hover {
  color: white;
}

.valve {
  height: 25px;
  width: 88;
  aspect-ratio: intital;
}
