.dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.dropdown-item {
  position: relative;
  display: inline-block;
  padding: 8px;
}

.footer-content {
  display: flex;
  justify-content: center;
}

.menus {
  position: absolute;
  left: 200px;
  display: flex;
  border: 3px solid yellow;
}

.float-a-tag {
  position: relative;
  right: 400px;
}

.individual-title {
  border: 3px solid red;
  font-size: large;
}

.header-area {
  background: #171d25;
  background-position: center top;
  min-width: 940px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  display: block;
}

.header-content {
  background: #171d25;
  position: relative;
  width: 940px;
  height: 104px;
  margin: 0px auto;
  z-index: 402;
  display: block;
}

.logo {
  float: left;
  padding-top: 30px;
  margin-right: 40px;
  width: 176px;
  height: 44px;
}

.nav-area {
  justify-content: center;
  background: #171d25;
  min-width: 940px;
  height: 104px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  z-index: 402;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  left: 200px;
}

.global-action {
  display: flex;
}

.dropdown-header {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.dropdown-item-header {
  position: relative;
  display: inline-block;
  padding: 8px;
  border: 3px solid greenyellow;
}


.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
}

.footer-content {
  display: flex;
  justify-content: center;
}


.header {
  background: #171d25;
  background-position: center top;
  min-width: 940px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100%;
  display: flex;
}

